.dashboard {
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.message {
  padding: 16px;
  background-color: rgb(197, 0, 0);
  color: #ffffff;
  height: 0px;
  align-items: center;
  display: flex;
}

.main_content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  color: black;
}

.content {
  padding: 10px;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
  width: 50%px;
  justify-content: center;
}

.card {
  display: flex;
  width: 300px;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 600;
  color: black;
  justify-content: center;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }

  .menu {
    display: flex;
    gap: 15px;
  }

  .main_content {
    flex: none;
  }
}


.second_section {
  display: grid;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;

 
}

.lbl_sub_main_heading {
  border-bottom: 1px solid rgb(199, 199, 199);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
 
}

.dasbord_links li {
  color: black;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 600;
  color: black;
  list-style: none;
  padding: 10px;
  margin: 20px;
}


.dasbord_links li a {
  text-decoration: none;
  color: black;
  display: block;
  
}

.card_training {
  display: grid;
  width: 220px;
  height: 250px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(221, 237, 255);
  border: 2px solid #8785ff;
  overflow: hidden;
margin: 0px;

}

.img_training {
  width: 220px;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
}

.lbl_sub_traning {
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  color: #1d1d1d;

}