
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 240px;
   background-color: #ffffff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  color: #363636;
  padding-right: 0px;
  overflow:visible;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 900;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #525252;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.sidebar p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}


.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}


.sidebar-links li {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 15px;
  color: #272727;
  border-radius: 6px;
  position: relative;

}

.sidebar-links li:hover {
  background-color: rgba(241, 241, 241, );
}

/* Dropdown indicator */
.has-submenu::after {
  content: '>';
  position: absolute;
  right: 15px;
  font-size: 12px;
  color: #ffffff;
 
}

/* Link styles */
.sidebar-links a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
     
}


.floating-submenu {
  position: fixed;
  top: 80px;        
  left: 260px;      
    backdrop-filter: blur(15px);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  min-width: 240px;
  z-index: 3000;
  backdrop-filter: blur(15px);
   background-color: rgba(255, 255, 255, 1);
   padding-left: 50px;
padding-right: 50px;
}





.floating-submenu a {
  text-decoration: none;
  color: #000000;
  display: block;
  width: 100%;
}

.floating-submenu a:hover {
  color: #000000;
  border: 1px;
}


.sidebar-links,
.floating-submenu {
  list-style-type: none; /* Bullet points hide */
  padding: 0;
  margin: 0;
}
